extend components/header.pug
block contenido
    section.intro
        .intro__imagen: img(src="images/imagen.png", alt="imagen de ejemplo")
        .intro__contenido
            h2 #{titulo}
            p
                |Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                |Ipsum, perspiciatis adipisci, ad asperiores quod sit quibusdam ex commodi aspernatur nulla officia.
                |Ducimus ut natus fuga, cupiditate consequuntur amet quibusdam quas.
            a.boton Leer Más
    main.contenido
        each subTitulo in subTitulos
            +caja("imagen.png",subTitulo,"Lorem ipsum, dolor sit amet consectetur adipisicing elit.")